.section {
  position: relative;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
  }
}
