/* ============================================================================
   SERVICES PAGE LAYOUT
   ============================================================================ */

.page {
  display: flex;
  flex-direction: column;
}
